<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Softnio">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Font family -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
        <title>NFT Collections</title>
        <link rel="stylesheet" href="/Assets/css/collections.css" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <div class="collection">
            <div class="container">
                <h3 class="mb-4">Collections</h3>
                <div class="card-grp">
                    <div class="card">
                        <div class="card-images">
                            <figure class="card-images__banner">
                                <img src="/Assets/images/banner.jpg" alt="Banner">
                            </figure>
                            <div class="card-image__logo-box">
                                <img src="/Assets/images/logo.jpg" alt="Logo">
                            </div>
                        </div>
                        
                        <div class="card-content">
                            <h5 class="card-content__name">Hello World</h5>
                            <a href="#" class="card-content__url">hello-world.com</a>
                            <p class="card-content__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas 
                                congue tellus nec metus semper, sodales suscipit lorem cursus. Nunc aliquet accumsan 
                                risus, vitae iaculis erat lacinia et.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-images">
                            <figure class="card-images__banner">
                                <img src="/Assets/images/banner.jpg" alt="Banner">
                            </figure>
                            <div class="card-image__logo-box">
                                <img src="/Assets/images/logo.jpg" alt="Logo">
                            </div>
                        </div>
                        
                        <div class="card-content">
                            <h5 class="card-content__name">Hello World</h5>
                            <a href="#" class="card-content__url">hello-world.com</a>
                            <p class="card-content__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas 
                                congue tellus nec metus semper, sodales suscipit lorem cursus. Nunc aliquet accumsan 
                                risus, vitae iaculis erat lacinia et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
</html>